{% extends 'home.html' %}

{% block TITULO %}Materiales{% endblock %}

{% block CONTENIDO %}
    {% for material in materiales %}<h2>{{ material.nombre }}</h2>{% endfor %}
    <br>
    <div style="text-align: center; font-size: xx-large;">
        <a href="{% url 'material:crear-materiales' %}">Crear datos preestablecidos</a>
        <br>
        <a href="{% url 'material:crear' %}">Crear material</a>
        <a href="{% url 'index' %}">Ir a menú principal</a>
        <br>
    </div>
{% endblock %}
